.average {
    height: 700px;
    width: 95%;
}

#start, #pause, #reset, #report {
    width: 45%;
    margin-right: 10px;
    margin-bottom: 10px;
}

#transactions {
    height: 250px;
    overflow: auto;
}

.transaction {
    font-size: 12px;
    border-top: 1px #D1D1D1 solid;
    padding: 5px;
}

.transaction .type {
    font-size: 14px;
    font-weight: bold;
}
